
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>MainPage</title>

    <link href="~/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        
</head>
<body>
    @{ Html.RenderPartial("_LoginEmployee"); }
    <h4>this is EmployeesMVC Table section</h4>
    @{ Html.RenderPartial("_AllEmployees");}
    @Ajax.ActionLink("ShowEmployees", "Employees",
            new AjaxOptions()
            {
                HttpMethod = "Get",
                UpdateTargetId = "Workers",
                InsertionMode = InsertionMode.Replace
            })
    <br/>
    @Ajax.ActionLink("DeleteEmployees", "Employees",
            new AjaxOptions()
            {
                HttpMethod = "Post",
                UpdateTargetId = "Workers",
                InsertionMode = InsertionMode.Replace
            })
    
</body>

</html>
